<div>
       <!-- FOOTER -->
       <footer class="grid">
         <!-- Footer - top -->
         <!-- Image-->
         <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url(assets/img/jms-01.jpg)"></div>
         
         <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
            <h2 class="text-strong text-uppercase">QUEM NÓS SOMOS?</h2>
            <p>
               Somos uma Empresa especializado em comércio internacional, responsável por facilitar o processo de
importação e exportação. Aquele que garante o cumprimento das regulamentações aduaneiras
e a eficiência nas operações.
               .</p>
         </div>
         
         <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
            <h2 class="text-strong text-uppercase">ONDE ESTAMOS?</h2>
            <img class="full-img" src="assets/img/map.svg" alt=""/>
         </div>
         
         <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
            <h2 class="text-strong text-uppercase">Contate-nos</h2>
            <p><b class="text-primary margin-right-10">TEL</b>(+244) 222 398 537</p>
            <p><b class="text-primary margin-right-10">E-MAIL</b> <a class="text-primary-hover" href="mailto:geral@jmdo.co.ao">geral@jmdo.co.ao</a></p>
            <p><b class="text-primary margin-right-10">E-MAIL</b> <a class="text-primary-hover" href="mailto:contacto@jmdo.co.ao">contacto@jmdo.co.ao</a></p>
         </div>
         
         <!-- Footer - bottom -->
         <div class="s-12 text-center margin-bottom">
           <p class="text-size-12">Copyright 2023, JMDO - Todos direitos reservados.</p> 
           <p><a class="text-size-12 text-primary-hover" href="" title="Responsee - lightweight responsive framework">Desenvolvido por JMSystem</a></p>
         </div>
       </footer>  
</div>