<div>
  <!-- MAIN -->
  <main role="main">
    <!-- TOP SECTION -->
    <header class="grid">
      <div class="s-12 padding-2x">
        <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Sobre Nós
        </h1>
        <p class="text-size-20 text-white text-center center text-uppercase">
          Prestamos serviços de Despachos Aduaneiros, recebimento e conferencia de carga <br> (carregamento e
          descarregamento de carga) sendo a escolha por opção do cliente
        </p>
      </div>
    </header>


    <!-- SECTION 1 -->
    <section class="grid">
      <div class="m-12 l-6 padding-2x background-white">
        <h2 class="text-dark">JOAQUIM MUCANDA DESPACHANTE OFICIAL</h2>
        <p class=" justify-12">
          É uma empresa de direito Angolano, de prestação de serviços de despachos aduaneiros, constituída no dia 18 de
          Setembro de 1995, com capital totalmente Angolano, com a cédula nº: 3007, série B, habilitada segundo o
          decreto-lei nº 05/06, do 2 art.º 36º do Código Aduaneiro, a exercer actividade de desembaraços aduaneiros de
          mercadorias importadas, exportadas e terrestre em todo o Território Nacional. A Joaquim Mucanda Despachante
          Oficial encontra-se inscrita na Câmara dos Despachantes Oficiais de Angola, Agência Nacional de Petróleo, Gás
          e Biocombustíveis, registo n.º 19341/2019. A Joaquim Mucanda Despachante Oficial representa um elevado grau de
          conhecimento e experiência nos processos de tramitação de mercadorias, de modo a oferecer um serviço de valor
          acrescentado aos nossos clientes e parceiros, marcando deste modo a diferença na apresentação de soluções
          exequíveis e transparentes a medida das grandes necessidades dos “stakeholders”, de forma a possuir uma equipa
          de alto rendimento, e elevado “know-how” operacional. A JMDO está no mercado há mais de 25 anos, a prestar
          serviços no sector petrolífero, na delegação Aduaneira do Malongo – Cabinda, delegação Aduaneira do Kwanda –
          Zaire-Soyo e delegação Aduaneira de Benguela-Lobito.

        </p>

      </div>

      <!-- Image-->
      <div class="l-6 hide-s hide-m background-white">
        <img class=" hide-s hide-m" src="assets/img/jmdo/4.jpeg">
      </div>
    </section>

    <!-- SECTION 2 -->
    <section class="grid margin margin-bottom padding-2x background-primary">

      <div class="s-12 m-6 l-4">
        <span class="timer text-size-50 text-white text-strong">Missão</span>
        <p class="text-size-16 margin-m-bottom-20 justify-123">
          Prestar serviços aos nossos clientes (empresa e organizações) com eficiência, responsabilidade e integridade
          garantindo sigilo profissional e satisfazendo as suas mais altas expectativas cumprindo com os prazos
          assumidos e contribuir para o sucesso dos seus negócios tornando-os mais produtivos e lucrativos, através do
          fornecimento de informações e demostrações financeiras relevantes para a tomada de decisão racional por parte
          dos seus gestores, observando a legislação em vigor para cada caso.
        </p>
      </div>

      <div class="s-12 m-6 l-4">
        <span class="timer text-size-50 text-white text-strong">Visão</span>
        <p class="text-size-16 margin-m-bottom-20 justify-123">
          Ser a melhor opção de prestador de serviços a nível nacional e internacional voltado à liberação alfandegária
          (emissão de documentos, transporte internacional, transporte local, etc.) para o mercado de comércio exterior
          na chegada ou saída de mercadorias nos Portos, Aeroportos e Fronteiras do país, sempre combinando agilidade,
          flexibilidade, qualidade e a garantia da satisfação de nossos clientes.
        </p>
      </div>

      <div class="s-12 m-6 l-4">
        <span class="timer text-size-50 text-white text-strong">Valores</span>

        <p class="text-size-16 margin-m-bottom-20 ">
        <ul>
          <li class=" justify-123"> Integridade, responsabilidade, qualidade nos serviços, inovação, ética,
            transparência, em busca sempre
            da satisfação dos nossos clientes e racionalização dos custos a cada serviço prestado. </li>
          <li class=" justify-123"> Estamos interessados para servir-vos de vosso representante junto dos serviços
            aduaneiros no que
            concerne ao desembaraço das vossas mercadorias. </li>
          <li class=" justify-123"> Esclarecemos todas às fases necessárias com relação às legislações, para que nossos
            clientes atinjam
            suas metas.</li>
          <li class=" justify-123"> Satisfação e comprometimento pelos “stakeholders”.</li>
          <li class=" justify-123">Valorização e capacitação do capital humano.</li>
          <li class=" justify-123">Propiciaremos soluções rápidas, com vitalidade e diligência.</li>

        </ul>

        </p>
      </div>
    </section>

    <!-- SECTION 3 NOSSA EQUIPE -->

    <!-- TOP SECTION -->
    <header class="grid">
      <div class="s-12 padding-2x">
        <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Nossa Equipe 
        </h1>
        <p class="text-size-20 text-white text-center center text-uppercase">
          Nossa equipe é formada por profissionais comprometidos com excelência nas realizações de suas atividades e
          focados nas necessidades de nossos clientes. Trata-se de um quadro de colaboradores que trabalham com
          satisfação, altamente especializados em suas respectivas áreas e que se empenham a cada dia para fazer da JMDO
          uma referencia Nacional. Isso visa garantir a qualidade no serviço prestado e na relação de trabalho de toda a
          cadeia produtiva, valorizando em primeiro lugar a qualidade e o compromisso.
      </div>
    </header>

    <section class="grid margin">
      <img class="s-12 m-4 margin-bottom" src="assets/img/jmdo/001.jpeg" alt="" />
      <img class="s-12 m-4 margin-bottom" src="assets/img/jmdo/005.jpeg" alt="" />
      <img class="s-12 m-4 margin-bottom" src="assets/img/jmdo/004.jpeg" alt="" /> 
      <img class="s-12 m-4 margin-bottom" src="assets/img/jmdo/003.jpeg" alt="" />
      <img class="s-12 m-4 margin-bottom" src="assets/img/jmdo/002.jpeg" alt="" />
      <img class="s-12 m-4 margin-bottom" src="assets/img/jmdo/008.jpeg" alt="" /> 

    </section>


  </main>

</div>