<div>
  <!-- MAIN -->
  <main role="main">
    <!-- TOP SECTION -->
    <header class="grid">
      <div class="s-12 padding-2x">
        <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Sobre Nos
        </h1>
        <p class="text-size-20 text-white text-center center text-uppercase">
          Prestamos serviços de Despachos Aduaneiros, recebimento e conferencia de carga <br> (carregamento e
          descarregamento de carga) sendo a escolha por opção do cliente
        </p>
      </div>
    </header>


    <!-- SECTION 1 -->
    <section class="grid">
      <div class="m-12 l-6 padding-2x background-white">
        <h2 class="text-dark">JOAQUIM MUCANDA DESPACHANTE OFICIAL</h2>
        <p>
          empresa de direito Angolano, no ramo de despacho aduaneiro com uma estrutura organizacional participativa de
          cada um dos trabalhadores, constituída no dia 18 de Setembro com capital totalmente Angolano no ano de 1995,
          representa um elevado grau de conhecimento e experiencia no ramo de desalfandegamento de mercadorias, de modo
          a poder oferecer um serviço de valor acrescentado aos nossos clientes, marcando deste modo a diferencia na
          apresentação de soluções exequíveis e transparentes a medida das grandes necessidades do cliente, de forma a
          possuir uma equipa de alto rendimento, e elevado know-how operacional. Estamos no mercado há mais de 20 anos a
          prestar serviços de exportação de petróleo na companhia petrolífera Cabinda Golf Oil Company Cabgoc (Chevron),
          Sonangol EP e P&P, Sonagás SNL, ANPG

          .<br><br></p>

      </div>

      <!-- Image-->
      <img class="l-6 hide-s hide-m" src="assets/img/jms-01.jpg">
    </section>

    <!-- SECTION 2 -->
    <section class="grid margin margin-bottom padding-2x background-primary">

      <div class="s-12 m-6 l-4">
        <span class="timer text-size-50 text-white text-strong">Missão</span>
        <p class="text-size-16 margin-m-bottom-20">É nossa missão prestar serviços aos nossos clientes (empresa e
          organizações) com qualidade, eficiência, responsabilidade e integridade garantindo sigilo profissional e
          satisfazendo as suas mais altas expectativas cumprindo com os prazos assumidos e contribuir para o sucesso dos
          seus negócios tornando-os mais produtivos e lucrativos, através do fornecimento de informações e demostrações
          financeiras relevantes para a tomada de decisão racional por parte dos seus gestores, observando a legislação
          em vigor para cada caso.</p>
      </div>

      <div class="s-12 m-6 l-4">
        <span class="timer text-size-50 text-white text-strong">Visão</span>
        <p class="text-size-16 margin-m-bottom-20">
          É nossa visão estruturar a empresa de forma que venha a ser de renome no mercado e que proporcione
          conhecimentos de qualidade, criativa e inovadora com reconhecimento nacional, pela qualidade e
          profissionalismo na prestação dos nossos serviços, capacidade e fiabilidade para poder melhorar e ultrapassar
          grandes desafios a nível do mercado em geral. Neste quadro, a relação da empresa com os seus clientes é
          sustentada numa base de confiança, isto é, qualquer negócio ou operação pauta-se por padrões éticos eficazes e
          de responsabilidade.</p>
      </div>

      <div class="s-12 m-6 l-4">
        <span class="timer text-size-50 text-white text-strong">Valores</span>

        <p class="text-size-16 margin-m-bottom-20">Integridade, Responsabilidade, Qualidade nos serviços, em busca
          sempre da satisfação dos nossos clientes e racionalização dos custos a cada serviço prestado. Estamos
          interessados em oferecer serviços eficazes, transparentes e idóneos como se exige neste ramo de actividade
          aduaneiras, para servir-vos de vosso representante junto dos serviços aduaneiros no que se concerne ao
          desembaraço das vossas mercadorias.</p>
      </div>
    </section>

    <!-- SECTION 3 -->
    <section class="grid margin">
      <h2
        class="s-12 text-white text-thin text-size-30 text-white text-uppercase margin-top-bottom-20 center text-center">
        NOSSA EQUIPE<b> DOS SONHOS</b></h2>
      <div class="s-12 m-6 l-2 margin-bottom">
        <img src="img/team-01.jpg" />
        <h4 class="background-primary padding text-strong">Frank Star</h4>
        <p class="margin-bottom-10 text-primary text-uppercase">Boss</p>
      </div>
      <div class="s-12 m-6 l-2 margin-bottom">
        <img src="img/team-02.jpg" />
        <h4 class="background-primary padding text-strong">Jane Naismith</h4>
        <p class="margin-bottom-10 text-primary text-uppercase">Graphic Designer</p>
      </div>
      <div class="s-12 m-6 l-2 margin-bottom">
        <img src="img/team-03.jpg" />
        <h4 class="background-primary padding text-strong">Mark Stoner</h4>
        <p class="margin-bottom-10 text-primary text-uppercase">Web Designer</p>
      </div>
      <div class="s-12 m-6 l-2 margin-bottom">
        <img src="img/team-04.jpg" />
        <h4 class="background-primary padding text-strong">Steve Carpenter</h4>
        <p class="margin-bottom-10 text-primary text-uppercase">Web Developer</p>
      </div>
      <div class="s-12 m-6 l-2 margin-bottom">
        <img src="img/team-05.jpg" />
        <h4 class="background-primary padding text-strong">Steff Kingston</h4>
        <p class="margin-bottom-10 text-primary text-uppercase">Account Manager</p>
      </div>
      <div class="s-12 m-6 l-2 margin-bottom">
        <img src="img/team-06.jpg" />
        <h4 class="background-primary padding text-strong">John Sandman</h4>
        <p class="margin-bottom-10 text-primary text-uppercase">Account Manager</p>
      </div>
    </section>

  </main>

</div>